<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/stylehome.css') }}">
    <script src="{{ url_for('static', filename='JS/homepage.js') }}"></script>
</head>
<body>
<div class="container">
  <h1 class="title" style="font-size: 80px;">ChatGPA</h1>
  <div class="card">
      <form>
        <text style="color: aliceblue;">Username: </text>
          <input type="text" placeholder="myPurdue Username" id="username">
        <text style="color: aliceblue;">Password: </text>
          <input type="password" class="placeh"placeholder="myPurdue Password" id="password">
      </form>

      <form action="/login" method="POST">
        <div class="buttons">
          <button type="submit" class="login-button" onclick="login()">Login</button>
        </div>
      </form>
  </div>
</div>
</body>
</html>



